
#logo{

}

body{
		background-color: #ebeff5;
	}

#total-orders{
		background-color: #4cb4c7;
    }

#orders-delivered{
		background-color: #7abecc;
	}

#orders-pending{
		background-color: #7CD1C0;
	}

body
{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
}


#auto-table td:first-child:before
{
  counter-increment: Serial;      /* Increment the Serial counter */
  content: counter(Serial); /* Display the counter */
}