Click==7.0
cycler==0.10.0
Cython==0.29.5
Django==2.2.10
django-crispy-forms==1.8.0
django-filters==0.2.1
kiwisolver==1.0.1
matplotlib==3.0.2
mysql==0.0.2
mysql-connector==2.2.9
mysqlclient==1.4.6
numpy==1.16.1
opencv-contrib-python==4.0.0.21
opencv-python==4.0.0.21
Pillow==5.4.1
PyMySQL==0.9.3
pyparsing==2.3.1
PyQt5==5.11.3
PyQt5-sip==4.19.14
pyqt5-tools==5.11.3.1.4
pytesseract==0.2.6
python-dateutil==2.8.0
python-dotenv==0.10.1
python2==1.2
pytz==2019.1
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
virtualenv==16.6.0
virtualenvwrapper-win==1.2.5
